body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.row {
  margin-bottom: 20px;
}

#top-nav {
  background-color: #141414;
}

#v-logo {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.clickable:hover {
  cursor: pointer;
}
